<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electro Motives - Login</title>
    <link rel = "icon" href ="{% static 'img/logo.png' %}?{% now "U" %}" type = "image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}?{% now "U" %}" rel="stylesheet" type="text/css">
    <link href="{% static 'scss/fonts.scss' %}?{% now "U" %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}?{% now "U" %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" 
                                style="background: url('{% static 'img/login.jpg' %}?{% now "U" %}'); background-position:center;background-size:cover;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" action="" method="post">
                                        {% for message in messages %}
                                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                                <strong>Message:-</strong>{{ message }}
                                                <button type="button", class="close", data-dismiss="alert", aria-label="close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="username"></label>
                                            <input type="text" id="username" name="username" class="form-control form-control-user"
                                                   placeholder="Enter Username...">
                                        </div>
                                        <div class="form-group">
                                            <label for="password"></label>
                                            <input type="password" id="password" name="password" class="form-control form-control-user"
                                                   placeholder="Enter Your Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>

                                    </form>
                                    <hr>
                                    <div class="text-center text-decoration-none">
                                        <a class="sidebar-brand d-flex align-items-center justify-content-center" style="text-decoration: none" href="{% url 'index' %}">
                                            <div>
                                                <img src="{% static 'img/logo.png' %}" style="width: 60px">
                                                <div style="font-family:'Futura Md BT';letter-spacing: 4px;font-size: x-large">ElectroMotives</div>
                                            </div>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'forgot-password' %}">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>